#header {
    height: 15vw;
}
#headerLogo {
    font-size: 8vw;
}
#headerCategories {
    visibility: hidden;
}

#articleContainer {
    padding-left: 5vw;
    padding-right: 5vw;
}

.articleTitle {
    font-size: 24pt;
    line-height: 24pt;

    padding-top: 30pt;
    padding-bottom: 24pt;
}
.articleTitle .backgroundColor {
    left: 0;
    right: 0;
    top: 40pt;
    bottom: 8pt;
}

.articleSubtitle {
    font-size: 18pt;
    line-height: 18pt;
}
.articleSubtitle .backgroundColor {
    left: 0;
    right: 0;
    top: 8pt;
    bottom: 0;
}

.articleSubtext {
    font-size: 10pt;
}
.articleAuthor {
    width: auto;
}
.articleDate {
    float: right;
}

.articleText p {
    font-size: 14pt;
    line-height: 22pt;
}
