#header {
	color: #000;
	background-color: #fff;
}

#article {
    color: #000;
}
#articleImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    vertical-align: text-bottom;
    font-family: FuturaPTHeavy;
    font-size: 8vw;
    line-height: 24vw;
    color: #fff;
}
#articleVideo {
    width: 100%;
    height: 100%;
}

#articleContainer {
    position: relative;
    padding-left: 23vw;
    padding-right: 23vw;
    padding-bottom: 10vw;
}

#articleTitle {
    position: relative;
    font-family: FuturaPTHeavy;
    font-size: 5.4vw;
    letter-spacing: -0.2vw;
    line-height: 6.25vw;

    padding-top: 6.9vw;
    padding-bottom: 4.1vw;
}
#articleTitle em {
    font-family: FuturaPTHeavyItalic;
}
#articleTitle .backgroundColor {
    position: absolute;
    left: 0;
    right: 0;
    top: 9.4vw;
    bottom: 1vw;

    z-index: -1;
}

#articleSubtitle {
    position: relative;
    font-family: FuturaPTMedium;
    font-size: 3.4vw;
    letter-spacing: -0.1vw;
    line-height: 3.9vw;

    padding-left: 0.2vw;
}
#articleSubtitle .backgroundColor {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.6vw;
    bottom: 0;

    z-index: -1;
}

#articleSubtext {
    font-family: FuturaPTDemi;
    font-size: 1vw;
    letter-spacing: 0vw;
    line-height: 3.9vw;
    overflow: hidden;

    padding-top: 3.2vw;
    padding-left: 0.4vw;
}
#articleAuthor {
    float: left;
    width: 20.3vw;
}
#articleDate {
    float: left;
}

#articleSeparator {
    font-family: FuturaPTBold;
    font-size: 3.4vw;
    letter-spacing: 0.2vw;

    padding-left: 0.3vw;
    padding-top: 3.6vw;
    padding-bottom: 4.4vw;
}

#articleText h2 {
    font-family: FuturaPTBold;
    font-size: 1.6vw;
    letter-spacing: 0.01vw;
    line-height: 2.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

#articleText p {
    font-family: FuturaPTBook;
    font-size: 1.4vw;
    letter-spacing: 0.01vw;
    line-height: 2.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

#articleText p b {
    font-family: FuturaPTMedium;
}

#articleText em {
    font-family: FuturaPTBookItalic;
}

#articleText img {
    width: 100%;
}

#articleText a {
    text-decoration: underline;
}

#articleText a:hover {
    color: #ff301b;
}
