/*
@font-face {
    font-family: FuturaExtraBold;
    src: url("../futura-pt/FuturaPTExtraBold.otf") format("opentype");
}

@font-face {
    font-family: FuturaHeavy;
    src: url("../futura-pt/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
    font-family: FuturaHeavyOblique;
    src: url("../futura-pt/FuturaPTHeavyOblique.otf") format("opentype");
}

@font-face {
    font-family: FuturaBookOblique;
    src: url("../futura-pt/FuturaPTBookOblique.otf") format("opentype");
}
*/

@font-face {
    font-family: FuturaExtraBold;
    src: url("../futura-lt/FuturaLT-ExtraBold.ttf") format("opentype");
}

@font-face {
    font-family: FuturaPTHeavy;
    src: url("../futura-pt/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
    font-family: FuturaHeavy;
    src: url("../futura-lt/FuturaLT-Heavy.ttf") format("opentype");
}

@font-face {
    font-family: FuturaHeavyOblique;
    src: url("../futura-lt/FuturaLT-HeavyOblique.ttf") format("opentype");
}

@font-face {
    font-family: FuturaOblique;
    src: url("../futura-lt/FuturaLT-Oblique.ttf") format("opentype");
}

@font-face {
    font-family: FuturaRegular;
    src: url("../futura-lt/FuturaLT.ttf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:hover {
    color: #f74d36;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a:active {
    color: blue;
}
