@font-face {
    font-family: FuturaPTExtraBold;
    src: url("../futura-pt/FuturaPTExtraBold.otf") format("opentype");
}

@font-face {
    font-family: FuturaPTHeavy;
    src: url("../futura-pt/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
    font-family: FuturaPTHeavyOblique;
    src: url("../futura-pt/FuturaPTHeavyOblique.otf") format("opentype");
}

@font-face {
    font-family: FuturaPTBookOblique;
    src: url("../futura-pt/FuturaPTBookOblique.otf") format("opentype");
}

html, body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}
a:hover {
    color: red;
}
a:active {
    color: blue;
}
