#hrow1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1.5625vw;

    background-color: #600;
    z-index: -1;
}
#hrow2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.5625vw;
    height: 1.5625vw;

    background-color: #800;
    z-index: -1;
}
#hrow3 {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.125vw;
    height: 1.5625vw;

    background-color: #a00;
    z-index: -1;
}
#hrow3-1 {
    width: 100%;
    height: 0.78125vw;

    background-color: #400;
    z-index: -1;
}
#hrow3-2 {
    width: 100%;
    height: 0.364583vw;

    background-color: #600;
    z-index: -1;
}
#hrow4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.6875vw;
    height: 1.5625vw;

    background-color: #c00;
    z-index: -1;
}
#hrow5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 6.25vw;
    height: 1.5625vw;

    background-color: #e00;
    z-index: -1;
}

#col1 {
    position: absolute;
    left: 0;
    width: 1.5625vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.75;
    z-index: -1;
}
#col2 {
    position: absolute;
    left: 1.5625vw;
    width: 1.5625vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}
#col3 {
    position: absolute;
    left: 3.125vw;
    width: 18.75vw;
    top: 0;
    bottom: 0;

    background-color: #0f0;
    opacity: 0.5;
    z-index: -1;
}
#col4 {
    position: absolute;
    left: 25vw;
    width: 6.25vw;
    top: 0;
    bottom: 0;

    background-color: #00f;
    opacity: 0.25;
    z-index: -1;
}
#col5 {
    position: absolute;
    left: 25vw;
    width: 9.375vw;
    top: 0;
    bottom: 0;

    background-color: #00f;
    opacity: 0.25;
    z-index: -1;
}

#colR2 {
    position: absolute;
    right: 1.5625vw;
    width: 1.5625vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}
#colR1 {
    position: absolute;
    right: 0;
    width: 1.5625vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.75;
    z-index: -1;
}

#hcol21 {
    position: absolute;
    left: 0;
    width: 7.8125vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol22 {
    position: absolute;
    left: 0;
    width: 25vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol23 {
    position: absolute;
    left: 0;
    width: 31.25vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol24 {
    position: absolute;
    left: 0;
    width: 48.4375vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol25 {
    position: absolute;
    left: 0;
    width: 53.125vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow21 {
    position: absolute;
    top: 0;
    height: 21.875vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow22 {
    position: absolute;
    top: 0;
    height: 25vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow23 {
    position: absolute;
    top: 0;
    height: 39.0625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow24 {
    position: absolute;
    top: 0;
    height: 40.625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow25 {
    position: absolute;
    top: 0;
    height: 42.1875vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow26 {
    position: absolute;
    top: 0;
    height: 43.75vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}


#hcol31 {
    position: absolute;
    left: 0;
    width: 7.8125vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol32 {
    position: absolute;
    left: 0;
    width: 9.375vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol33 {
    position: absolute;
    left: 0;
    width: 12.5vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol34 {
    position: absolute;
    left: 0;
    width: 15.625vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol35 {
    position: absolute;
    left: 0;
    width: 25vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol36 {
    position: absolute;
    left: 0;
    width: 31.25vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol37 {
    position: absolute;
    left: 0;
    width: 48.4375vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hcol38 {
    position: absolute;
    left: 0;
    width: 93.75vw;
    top: 0;
    bottom: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow31 {
    position: absolute;
    top: 0;
    height: 7.8125vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow32 {
    position: absolute;
    top: 0;
    height: 10.9375vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow33 {
    position: absolute;
    top: 0;
    height: 12.5vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow34 {
    position: absolute;
    top: 0;
    height: 14.84375vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow35 {
    position: absolute;
    top: 0;
    height: 18.75vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}
#hrow36 {
    position: absolute;
    top: 0;
    height: 23.4375vw;
    left: 0;
    right: 0;

    background-color: #fff;
    opacity: 0.15;
}


#hcol41 {
    position: absolute;
    left: 0;
    width: 23.4375vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.15;
}
#hcol42 {
    position: absolute;
    left: 0;
    width: 76.5625vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.15;
}
#hcol43 {
    position: absolute;
    left: 0;
    width: 43.75vw;
    top: 0;
    bottom: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow41 {
    position: absolute;
    top: 0;
    height: 7.8125vw;;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow42 {
    position: absolute;
    top: 0;
    height: 9.375vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow43 {
    position: absolute;
    top: 0;
    height: 15.625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow44 {
    position: absolute;
    top: 0;
    height: 21.875vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow45 {
    position: absolute;
    top: 0;
    height: 28.125vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow46 {
    position: absolute;
    top: 0;
    height: 31.25vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow47 {
    position: absolute;
    top: 0;
    height: 32.8125vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow48 {
    position: absolute;
    top: 0;
    height: 34.375vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow49 {
    position: absolute;
    top: 0;
    height: 35.15625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow410 {
    position: absolute;
    top: 0;
    height: 35.9375vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow411 {
    position: absolute;
    top: 0;
    height: 37.5vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow412 {
    position: absolute;
    top: 0;
    height: 42.1875vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow413 {
    position: absolute;
    top: 0;
    height: 51.5625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow414 {
    position: absolute;
    top: 0;
    height: 59.375vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow415 {
    position: absolute;
    top: 0;
    height: 61.71875vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
#hrow416 {
    position: absolute;
    top: 0;
    height: 64.0625vw;
    left: 0;
    right: 0;

    background-color: #000;
    opacity: 0.15;
}
