body {
    background-color: #000;
    /*overflow-y: hidden;*/
}

#website {
    position: relative;
    margin: 0; /* set by JS */

    background-color: #666;
}

#header {
    position: fixed;
    left: 0;  /* set by JS, match #website margin-left */
    right: 0; /* set by JS, match #website margin-right */
    height: 7vw;
    z-index: 10;

    color: #ffffff;
    margin: auto;
}

#headerVerticalCenter {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin: 0;
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    padding-left: 4vw;
    padding-right: 4vw;
}

#headerLogo {
    font-family: FuturaPTBold;
    font-size: 2.6vw;
    letter-spacing: -0.04vw;
    line-height: 2vw;

    float: left;
}
#headerLogo a {
}

#headerEnd {
    font-family: FuturaPTMedium;
    font-size: 3vw;
    letter-spacing: -0.02vw;
    /*color: #ff301b;*/
    color: #ffffff;

    float: right;
    margin-top: -0.7vw;
}