#content {
    visibility: hidden; /* hide wonky stuff until page loads */
}

#screenLanding {
    position: relative;
}

#screenPosters {
    position: relative;
    background-color: #000000;
}

#video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
}

#landingImageCycler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    z-index: -1;
}

#landingImageCycler img {
    position: absolute;
    top: 0;
    z-index: -4;

    background-color: #000000;
}
#landingImageCycler img.transition {
    z-index: -3;
}
#landingImageCycler img.active {
    z-index: -2;
}

#featuredPretitle {
    font-family: FuturaPTDemi;
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    color: #fff;

    margin-left: 7.7vw;
    margin-top: 13.6vw;
}

#featuredTitle {
    font-family: Miedinger;
    font-size: 6.2vw;
    letter-spacing: 0.2vw;
    color: #fff;

    float: left;
    margin-left: 7.4vw;
    margin-top: 0.95vw;
}
#featuredTitle b {
    font-family: MiedingerBold;
}
#featuredTitle:hover {
    color: #ddd;
}

#featuredDecoration {
    font-family: MiedingerBold;
    font-size: 3.1vw;
    letter-spacing: 0.4vw;
    color: #fff;

    float: left;
    margin-top: 1.6vw;
    margin-left: 2.3vw;
}

#featuredText {
    font-family: FuturaPTMedium;
    font-size: 0.95vw;
    letter-spacing: 0.05vw;
    line-height: 1.6vw;
    color: #fff;

    clear: both;
    overflow: hidden;
    margin-left: 7.7vw;
    padding-top: 1.8vw;
}
#featuredText1 {
    float: left;
    width: 17.1875vw;
}
#featuredText2 {
    float: left;
    width: 17.1875vw;
    margin-left: 6.3vw;
}

#contentList {
    width: 84.375vw;
    height: 31.25vw;
    margin-top: 3.125vw;
    margin-left: 7.8125vw;
}

.entry {
    float: left;
    width: 15.625vw;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.entry:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.entryImage {
    background-color: #231F20;

    width: 100%;
    height: 25vw;
}

.entryImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.entryText {
    font-family: FuturaPTMedium;
    font-size: 0.95vw;
    letter-spacing: 0.05vw;
    line-height: 1.6vw;
    color: #fff;

    width: 100%;
    height: 4.6875vw;
    margin-top: 1vw;
}

.entrySpace {
    float: left;
    width: 1.5625vw;
    height: 100%;
}


#article {
    color: #000;
}
#articleImage {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    vertical-align: text-bottom;
    font-family: FuturaPTHeavy;
    font-size: 8vw;
    line-height: 24vw;
    color: #fff;
}
#articleVideo {
    width: 100%;
    height: 100%;
}

#articleContainer {
    position: relative;
    padding-left: 23vw;
    padding-right: 23vw;
    padding-bottom: 10vw;
}

#articleTitle {
    font-family: FuturaPTHeavy;
    font-size: 5.4vw;
    letter-spacing: -0.2vw;
    line-height: 6.25vw;

    padding-top: 6.9vw;
}
#articleTitle em {
    font-family: FuturaPTHeavyItalic;
}

#articleSubtitle {
    font-family: FuturaPTMedium;
    font-size: 3.4vw;
    letter-spacing: -0.1vw;
    line-height: 3.9vw;

    padding-top: 4.1vw;
    padding-left: 0.2vw;
}

#articleSubtext {
    font-family: FuturaPTDemi;
    font-size: 1vw;
    letter-spacing: 0vw;
    line-height: 3.9vw;
    overflow: hidden;

    padding-top: 3.2vw;
    padding-left: 0.4vw;
}
#articleAuthor {
    float: left;
    width: 20.3vw;
}
#articleDate {
    float: left;
}

#articleSeparator {
    font-family: FuturaPTBold;
    font-size: 3.4vw;
    letter-spacing: 0.2vw;

    padding-left: 0.3vw;
    padding-top: 3.6vw;
    padding-bottom: 4.4vw;
}

#articleText h2 {
    font-family: FuturaPTBold;
    font-size: 1.6vw;
    letter-spacing: 0.01vw;
    line-height: 2.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

#articleText p {
    font-family: FuturaPTBook;
    font-size: 1.4vw;
    letter-spacing: 0.01vw;
    line-height: 2.2vw;

    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

#articleText p b {
    font-family: FuturaPTMedium;
}

#articleText em {
    font-family: FuturaPTBookItalic;
}

#articleText img {
    width: 100%;
}

#articleText a {
    text-decoration: underline;
}

#articleText a:hover {
    color: #ff301b;
}

#color1 {
    position: absolute;
    left: 23.2vw;
    right: 22.2vw;
    top: 9.4vw;
    height: 19vw;

    background-color: #FFC7F7;
    z-index: -1;
}
#color2 {
    position: absolute;
    left: 23.2vw;
    right: 22.2vw;
    top: 31.3vw;
    height: 6.2vw;

    background-color: #FFC7F7;
    z-index: -1;
}
