body {
    background-color: #000;
    /*overflow-y: hidden;*/
}

#website {
    position: relative;
    margin: 0; /* set by JS */

    background-color: #666;
}

#content {
    visibility: hidden; /* hide wonky stuff until page loads */
}

#screen1 {
    position: relative;
    background-image: url("../images/landing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#intro {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 0;
}

#video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 1;
}

.screen {
    /* all set by JS */
}

#introContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#introTextContainer {
    color: #ffffff;

    position: absolute;
    left: 0;
    right: 0;
    top: 4vw;
}

#introTitle {
    text-align: center;
    font-family: FuturaPTBold;
    font-size: 7.5vw;
    letter-spacing: -0.3vw;
    line-height: 6vw;
}

#introSubtitle {
    font-family: FuturaPTBook;
    text-align: center;
    font-size: 1.4vw;
    letter-spacing: 0.1vw;

    margin-top: 1.7vw;
}

.cross {
    position: absolute;
    width: 6vw;
    height: 6vw;

    left: 2vw;
    right: 2vw;
    top: 2vw;
    bottom: 2vw;
}

.crossHorizontal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    border-bottom: 0.1vw solid #fff;
}
.crossVertical {
    position: absolute;
    left: 0;
    right: 50%;
    top: 0;
    bottom: 0;
    border-right: 0.1vw solid #fff;
}

#crossTL {
    right: auto;
    bottom: auto;
}
#crossTR {
    left: auto;
    bottom: auto;
}
#crossBL {
    right: auto;
    top: auto;
}
#crossBR {
    left: auto;
    top: auto;
}