<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- - - - - - - - - PAGE METADATA - - - - - - - - -->
    <title>No Pasa Nada</title>
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph tags -->
    <meta property="og:type"        content="article">
    <meta property="og:title"       content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url"         content="https://www.nopasanada.com{{ url }}">
    <meta property="og:image"       content="https://www.nopasanada.com{{ image }}">

    <!-- Twitter card -->
    <meta name="twitter:card"           content="summary">
    <meta name="twitter:title"          content="{{ title }}">
    <meta name="twitter:description"    content="{{ description }}">
    <meta name="twitter:url"            content="https://www.nopasanada.com{{ url }}">
    <meta name="twitter:image"          content="https://www.nopasanada.com{{ image }}">

    <!-- schema.org -->
    <!-- TODO: ADD TAGS -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - FAVICON PACKAGE CONFIG - - - - - - - - -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon-16x16.png">
    <link rel="manifest" href="../../../site.webmanifest">
    <link rel="mask-icon" href="../../../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f4efe8">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- Google Analytics - - - - - - - - - - - - - - - - -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146659981-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "UA-146659981-1");
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - --->

    <link rel="stylesheet" type="text/css" href="../../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../../css/header.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../css/article.css">
    <!-- <link rel="stylesheet" type="text/css" href="../../../css/guides.css"> -->
    
    <script type="application/javascript" src="../../../js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="../../../js/resize.js"></script>
    <script type="application/javascript" src="../../../js/article.js"></script>
</head>

<body>
    <div id="website">
        <div id="header">
            <div id="headerLogo">
                <a href="../../..">
                    NO PASA NADA.
                </a>
            </div>
            <div id="headerCategories">
                <div class="headerCategory">
                    <a href="../../../#noticias">
                        NOTICIAS
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#cultura">
                        CULTURA
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#deporte">
                        DEPORTE
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#ciencia">
                        CIENCIA
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#opinion">
                        OPINI&Oacute;N
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../content/201909/historias">
                        HISTORIAS
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div id="categoryRight" class="headerCategory">
                    <a href="../../../#nopasanada">
                        NO PASA NADA
                    </a>
                </div>
            </div>
        </div>

        <div id="content">
            <div id="article">
                <div id="articleHeader" class="screen">
                    <div class="articleImage" style="background-image: url('../../..{{ image }}');">
                        <br>&#711;&#711;&#711;
                    </div>
                </div>
                <div id="articleContainer">
                    <!--
                    <div id="hcol41"></div>
                    <div id="hcol42"></div>
                    <div id="hcol43"></div>
                    <div id="hrow41"></div>
                    <div id="hrow42"></div>
                    <div id="hrow43"></div>
                    <div id="hrow44"></div>
                    <div id="hrow45"></div>
                    <div id="hrow46"></div>
                    <div id="hrow47"></div>
                    <div id="hrow48"></div>
                    <div id="hrow49"></div>
                    <div id="hrow410"></div>
                    <div id="hrow411"></div>
                    <div id="hrow412"></div>
                    <div id="hrow413"></div>
                    <div id="hrow414"></div>
                    <div id="hrow415"></div>
                    <div id="hrow416"></div>
                    -->

                    <div class="articleTitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{{ title }}}
                    </div>
                    <div class="articleSubtitle">
                        <div class="backgroundColor" style="background-color: {{ color }};"></div>
                        {{ subtitle }}
                    </div>
                    <div class="articleSubtext">
                        <div class="articleAuthor">
                            {{{ author }}}
                        </div>
                        <div class="articleDate">
                            {{ date }}
                        </div>
                    </div>
                    <div class="articleSeparator">
                        ...
                    </div>
                    <div class="articleText">
                        {{{ text }}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
