<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- - - - - - - - - PAGE METADATA - - - - - - - - -->
    <title>No Pasa Nada</title>
    <meta name="description" content="{{ description }}">

    <!-- OpenGraph tags -->
    <meta property="og:type"        content="article">
    <meta property="og:title"       content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url"         content="https://www.nopasanada.com{{ url }}">
    <meta property="og:image"       content="https://www.nopasanada.com{{ image }}">

    <!-- Twitter card -->
    <meta name="twitter:card"           content="summary">
    <meta name="twitter:title"          content="{{ title }}">
    <meta name="twitter:description"    content="{{ description }}">
    <meta name="twitter:url"            content="https://www.nopasanada.com{{ url }}">
    <meta name="twitter:image"          content="https://www.nopasanada.com{{ image }}">

    <!-- schema.org -->
    <!-- TODO: ADD TAGS -->
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - FAVICON PACKAGE CONFIG - - - - - - - - -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../favicon-16x16.png">
    <link rel="manifest" href="../../../site.webmanifest">
    <link rel="mask-icon" href="../../../safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#f4efe8">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - -->

    <!-- Google Analytics - - - - - - - - - - - - - - - - -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146659981-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag("js", new Date());
        gtag("config", "UA-146659981-1");
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - --->

    <link rel="stylesheet" type="text/css" href="../../../css/global.css">
    <link rel="stylesheet" type="text/css" href="../../../css/header.css">
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../../css/article.css">

    <script type="application/javascript" src="../../../js/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="../../../js/resize.js"></script>
    <script type="application/javascript" src="../../../js/newsletter.js"></script>
</head>

<body>
    <div id="website">
        <div id="header">
            <div id="headerLogo">
                <a href="../../..">
                    NO PASA NADA.
                </a>
            </div>
            <div id="headerCategories">
                <div class="headerCategory">
                    <a href="../../../#noticias">
                        NOTICIAS
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#cultura">
                        CULTURA
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#deporte">
                        DEPORTE
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#ciencia">
                        CIENCIA
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../#opinion">
                        OPINI&Oacute;N
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div class="headerCategory">
                    <a href="../../../content/201909/historias">
                        HISTORIAS
                    </a>
                    <div class="headerSubcategories">
                    </div>
                </div>
                <div id="categoryRight" class="headerCategory">
                    <a href="../../../#nopasanada">
                        NO PASA NADA
                    </a>
                </div>
            </div>
        </div>

        <div id="content">
            <div id="article">
                <div id="articleHeader" class="screen">
                    <div id="headerDesktop" style="position: relative; width: 100%; height: 100%;">
                        <a href="#1">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/vertical1.jpg'); width: 23.8vw; float: left;">
                            </div>
                        </a>
                        <a href="#2">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/vertical2.jpg'); margin-left: 1.1vw; width: 23.8vw; float: left;">
                            </div>
                        </a>
                        <a href="#3">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/vertical3.jpg'); margin-left: 1.1vw; width: 23.8vw; float: left;">
                            </div>
                        </a>
                        <a href="#4">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/vertical4.jpg'); margin-left: 1.1vw; width: 23.8vw; float: left;">
                            </div>
                        </a>
                    </div>
                    <div id="headerMobile" style="position: relative; width: 100%; height: 100%;">
                        <a href="#1">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/square1.jpg'); width: 48vw; height: 49.5%; float: left;">
                            </div>
                        </a>
                        <a href="#3">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/square3.jpg'); margin-left: 1vw; width: 48vw; height: 49.5%;  float: left;">
                            </div>
                        </a>
                        <a href="#2">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/square2.jpg'); margin-top: 1%; width: 48vw; height: 49.5%; float: left;">
                            </div>
                        </a>
                        <a href="#4">
                            <div class="articleImage" style="background-image: url('../../..{{ imageDirectory }}/square4.jpg'); margin-left: 1vw; margin-top: 1%; width: 48vw; height: 49.5%; float: left;">
                            </div>
                        </a>
                    </div>
                </div>

                <div id="articleContainer">
                    <iframe class="articleAudio" frameborder="0" allowfullscreen="" scrolling="no" height="200" src="{{ audioSource }}" style='border:1px solid #EEE; box-sizing:border-box; width:100%;'></iframe>

                    <div id="articleSubcontainer1" class="articleSubcontainer">
                        <div class="articleTitle">
                            <div class="backgroundColor" style="background-color: {{ color }};"></div>
                            {{ title1 }}
                        </div>
                        <div class="articleSubtext">
                            <div class="articleAuthor">
                                {{ author1 }}
                            </div>
                            <div class="articleDate">
                                {{ date1 }}
                            </div>
                        </div>
                        <div class="articleSeparator">
                            ...
                        </div>
                        <div class="articleText">
                            {{{ text1 }}}
                        </div>
                    </div>

                    <div id="articleSubcontainer2" class="articleSubcontainer">
                        <div class="articleTitle">
                            <div class="backgroundColor" style="background-color: {{ color }};"></div>
                            {{ title2 }}
                        </div>
                        <div class="articleSubtext">
                            <div class="articleAuthor">
                                {{ author2 }}
                            </div>
                            <div class="articleDate">
                                {{ date2 }}
                            </div>
                        </div>
                        <div class="articleSeparator">
                            ...
                        </div>
                        <div class="articleText">
                            {{{ text2 }}}
                        </div>
                    </div>

                    <div id="articleSubcontainer3" class="articleSubcontainer">
                        <div class="articleTitle">
                            <div class="backgroundColor" style="background-color: {{ color }};"></div>
                            {{ title3 }}
                        </div>
                        <div class="articleSubtext">
                            <div class="articleAuthor">
                                {{ author3 }}
                            </div>
                            <div class="articleDate">
                                {{ date3 }}
                            </div>
                        </div>
                        <div class="articleSeparator">
                            ...
                        </div>
                        <div class="articleText">
                            {{{ text3 }}}
                        </div>
                    </div>

                    <div id="articleSubcontainer4" class="articleSubcontainer">
                        <div class="articleTitle">
                            <div class="backgroundColor" style="background-color: {{ color }};"></div>
                            {{ title4 }}
                        </div>
                        <div class="articleSubtext">
                            <div class="articleAuthor">
                                {{ author4 }}
                            </div>
                            <div class="articleDate">
                                {{ date4 }}
                            </div>
                        </div>
                        <div class="articleSeparator">
                            ...
                        </div>
                        <div class="articleText">
                            {{{ text4 }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
