html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: sans-serif;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
}
h2 {
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
}
h3 {
    font-size: 14pt;
    font-weight: normal;
}

th, td {
    border: 1px solid black;
    padding: 6pt;
}
th {
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
td {
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: normal;
    text-align: left;
}

#content {
    margin: 24pt;
}

#entryTable {
    width: 100%;
}

.bigBoyButton {
    width: 180pt;
    height: 42pt;
    margin-top: 24pt;

    font-size: 36pt;
    font-weight: bold;
    text-align: center;
}
.bigBoyButton:hover {
    cursor: pointer;
}

#diffButton {
    background-color: #8f8;
}
#diffButton:hover {
    background-color: #5f5;
}

#commitButton {
    background-color: #ff8;
}
#commitButton:hover {
    background-color: #ee2;
}

#deployButton {
    background-color: #f88;
}
#deployButton:hover {
    background-color: #f55;
}